*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nachos/bin/
/nachos/machine/
/nachos/network/
/nachos/ag/
/nachos/security/
/nachos/threads/
/nachos/test/
/nachos/userprog/
/nachos/nachos.iml
/nachos/Makefile
/nachos/README
/nachos/vm/
.idea/
nachos/
