*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# The files to exclude
.idea/
nachos/
Projects.iml

out/
!/nachos/threads/KThread.java
!/nachos/threads/Boat.java
!/nachos/threads/PriorityScheduler.java
!/nachos/threads/Alarm.java
!/nachos/threads/Communicator.java
!/nachos/threads/Condition2.java
!/nachos/userprog/UserKernel.java
!/nachos/userprog/UserProcess.java
